<h2>All Questions</h2>
<app-messages></app-messages>
<button (click)="showNewQuestionForm()">New</button>
<table>
  <thead>
    <tr>
      <th width="5%">ID</th>
      <th width="50%">Text</th>
      <th width="20%">Answer Count</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr [class.active]="question == selectedQuestion" *ngFor="let question of questionList">
      <td>{{question.id}}</td>
      <td>{{question.text}}</td>
      <td>{{question.answers.length}}</td>
      <td class="actions">
        <a (click)="selectedQuestion = question">View</a>
        <a (click)="deleteQuestion(question)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>

<app-question-details *ngIf="selectedQuestion !== null" class="details" [selectedQuestion]="selectedQuestion" (questionsChanged)="questionsChanged($event)"></app-question-details>